* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: url(./images/slika2.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
/*---REGISTER---*/
#rgst {
  display: none;
  position: fixed;
  z-index: 2;
}
nav {
  display: flex;
  padding: 2% 5%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 200px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 10px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #6e286e;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}
.text-box h1 {
  font-size: 49px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}
.click-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.click-btn:hover {
  border: 1px solid #6e286e;
  background: #6e286e;
  transition: 1s;
}
nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 22px;
  }
  .nav-links ul li {
    display: block;
    margin: 8px;
  }

  .nav-links {
    position: fixed;
    background: #e68fe6;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .course-column {
    margin: 0;
  }
  /*.sub-header h1 {
    font-size: 24px;
  }*/
}
/*--- course ---*/
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 30px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.kolona {
  display: inline-block;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-column {
  margin: 0 14px;
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.course-column p {
  text-align: justify;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-column:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
/*----onecategory----*/

.category-column {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  margin: auto;
  text-align: justify;
}
.category-column img {
  width: 100%;
  border-radius: 10px;
}
.category-column p {
  padding: 0;
}
.category-column h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}
/*-----contact-----*/
.contact {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/slikaaaa.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.contact h1 {
  color: white;
  margin-bottom: 40px;
  padding: 0;
}
@media (max-width: 700px) {
  .contact h1 {
    font-size: 24px;
  }
}
/*----footer----*/

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.icons .fa {
  color: #6e286e;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart-o {
  color: #6e286e;
}
/*-----abous us-----*/
.sub-header {
  height: 50vh;
  width: 100%;
  background-image: url(./images/slika4.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.sub-header h1 {
  margin-top: 50px;
}
.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col img {
  width: 100%;
}
.about-col h1 {
  padding-top: 0;
}
.about-col p {
  padding: 15px 0 25px;
}
.purple-btn {
  border: 1px solid #6e286e;
  background: transparent;
  color: #6e286e;
}
.purple-btn:hover {
  color: white;
}
/*---contact us---*/
.contact-us {
  width: 80%;
  margin: auto;
}
.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact-col div .fa {
  font-size: 28px;
  color: #6e286e;
  margin: 10px;
  margin-right: 30px;
}
.contact-col div p {
  padding: 0;
}
.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}
.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Button used to open the register form - fixed at the bottom of the page */
.q {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 16px;
  right: 28px;
  width: 280px;
}

/* The popup register form - hidden by default */
.w {
  display: none;
  position: fixed;
  right: 28px;
  top: 5px;
  max-width: 282px;
  z-index: 9;
}
@media (max-width: 500px) {
  .w .e {
    font-size: 14px;
  }

  #psw-repeat {
    margin-bottom: 27px;
  }
}
/* Add styles to the register form container */
.e {
  max-width: 300px;
  padding: 8px;
  font-size: 12px;
  background-color: white;
}

/* Full-width input register fields */
.e .r,
.e .t {
  width: 100%;
  padding: 8px;
  margin: 5px 2px 7px 2px;
  border: none;
  background: #f1f1f1;
  font-size: 12px;
}

/* When the register inputs get focus, do something */
.e .r:focus,
.e .t:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the register button */
.e .z {
  background-color: #cf72cb;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 5px;
  opacity: 0.8;
}

/* Add a purple background color to the cancel button */
.e .u {
  background-color: rgb(109, 40, 122);
}

/* Add some hover effects to register buttons */
.e .z:hover,
.q:hover {
  opacity: 1;
}

/* Button used to open the login form - fixed at the bottom of the page */
.otvori-dugme {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 80px;
  right: 28px;
  width: 280px;
}

/* The popup login form - hidden by default */
.popup-forma {
  background-color: white;
  display: none;
  position: fixed;
  bottom: 80px;
  right: 28px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  max-width: 282px;
  padding: 10px;
}

/* Add styles to the login form container */
.forma-kont {
  max-width: 300px;
  padding: 8px;
  background-color: white;
}

/* Full-width input login fields */
.input-email,
.input-password {
  width: 100%;
  padding: 8px;
  margin: 5px 2px 7px 2px;
  border: none;
  background: #f1f1f1;
  font-size: 12px;
}

/* When the login inputs get focus, do something */
.input-email:focus,
.input-password:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.dugme {
  background-color: #cf72cb;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 5px;
  opacity: 0.8;
}

/* Add a purple background color to the cancel button */
.zatvori {
  background-color: rgb(109, 40, 122);
}

/* Add some hover effects to login buttons */
.dugme:hover,
.otvori-dugme:hover {
  opacity: 1;
}
.klink {
  text-decoration: none;
  color: black;
}
/*search*/
#trazi {
  padding: 7px;
  border: none;
  font-size: 16px;
  background-color: white;
}
#dugme {
  float: right;
  background: #652565;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  position: relative;
  padding: 7px;
  border: none;
  font-size: 16px;
}
