* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 20px 400px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 8px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: rgb(250, 248, 248);
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #91256d;
  color: rgb(255, 255, 255);
  padding: 16px 20px;
  /*margin: 8px 0;*/
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

#h1rgst {
  text-align: center;
}
.prgst {
  text-align: center;
  color: black;
}
@media (max-width: 700px) {
  .container {
    padding: 15px;
  }
}
